venv*/
.env
.venv/
env/

__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
.cache
.hypothesis/
.ruff_cache/
.htmlcov/

data/screenshots/
data/database*
data/*.db*
data/*.sqlite*
*.db-wal
*.db-shm

ml/runs/
ml/*.pt
ml/*.pkl
!ml/runs/detect/dtp_krasnodar_light9/weights/best.pt
images/
dataset/images/
dataset/labels/
dataset/for_predict/
dataset/predictions/

!ml/**/*.yaml


node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.next/
frontend/out/
frontend/*.log
frontend/playwright-report/
frontend/test-results/

frontend/yarn.lock
frontend/pnpm-lock.yaml
frontend/package-lock.json

frontend/*.tsbuildinfo

*.jpg
*.jpeg
*.png
!frontend/e2e/**/*-snapshots/**/*.png
*.xml
*.txt
!backend/requirements-docker.txt
*.json
images/
labels/
dataset/
train/
val/

logs/
*.log

.idea/
.vscode/settings.json
.vscode/launch.json
*.swp

.DS_Store
Thumbs.db

*.docx
*.pdf
passwords*
secrets*

.gitignore.bak

